.App{
  background-image:url('../images/front.jpeg');
}


.form{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url('../media/ecom.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }
  .form form{
      width:500px;
      height: 100%;
      margin: 0 auto;
      background-color: aliceblue;
      padding: 40px 0;
  }
  .form form h1{
    padding: 12px 0 36px 0;
    font-weight: bolder;
  }
  .form form input{
      width: 308px;
      height: 35px;
      border: 2px solid rgb(18, 19, 18);
      border-radius: 8px;
      padding-left: 10px;
      display: block;
      margin: 0 auto 11px auto;
  }
  .form form select{
    width: 308px;
    height: 35px;
    border: 2px solid rgb(18, 19, 18);
    border-radius: 8px;
    padding-left: 10px;
    display: block;
    margin: 0 auto 11px auto;
}
  .form form button{
    margin-top: 25px;
  }
  
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  .form .error {
    color: rgb(14, 13, 13);
    margin: -8px 0px 9px 0px;
    font-size: 12px;
  }
  /*login button */
  .form button{
  margin: 10px;
  background-color: #04AA6D;
  color: white;
  padding: 10px 10px;
  margin: 6px 0 0  152px;
  width: 30%;
  opacity: 0.9;
  text-align: center;
  padding-left: 10px;
  }
button:hover {
  opacity:1;
}

  label{
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
  }
  
  .icon{
    font-size: 30px;
    float: right;
    margin-right: 50px;
    color: grey;
  }
  
  .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }
  
  .send-items, .my-orders{
    border: 3px solid #020d03;
    background-color: #360ae4;
    color: white;
    height: 50px;
    width: 500px;
    text-align: center;
    margin-top: 100px;
  }
  
  .click-option{
    text-align: center;
    margin-top: 20px;
    color: #8B8000;
  }

/* body{
   background-image: url('../images/dasboard.jpg');
  background-size: cover;
  background-repeat: 90%;

  } */
  .card{
    height: 150px;
    width: 150px;
    background: #fc0;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    margin: 10px;
    transition: all .3s ease;
  }
  
.card_block{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

  /* body button{
    text-align: center;
    background-color: #781414;
    margin-right: 100px;

  } */

/* .body{
  background-image: url('../images/dasboard.jpg');

  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
} */
.cards{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.avatar{
  color: #020d03;
  margin-left: 10px;
}
.input_wrap {
  position: relative;
}

.input_wrap i {
  position: absolute;
  right: 10px;
  line-height: 40px;
  font-size: 12px;
}
.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}

#components-avatar-demo-type .ant-avatar {
    margin-top: 16px;
    margin-right: 16px;
  }
  .ant-row-rtl #components-avatar-demo-type .ant-avatar {
    margin-right: 0;
    margin-left: 16px;
  }
/* profile 
======================== */
.user_profile {
  display: flex;
  align-items: center;
  position: relative;
}
  .user_profile i{
    height: 25px;
    width: 25px;
    line-height: 25px;
    display: inline-block;
    background: #fca401;
    text-align: center;
    border-radius: 50%;
    color: red;
  
  }
  
.user_img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #ccc;
  line-height: 200px;
  border: 6px solid #eee;
  position: relative;
  overflow: hidden;
}

.user_detail{
  margin-left: 15px;
}

.uploader{
  height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    position: absolute;
    left: 136px;
    top: 0;
    font-size: 20px;
}
  